################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChovekaBloonzV2.0/FileContentIndex/7843ed2e-ce5f-4c7b-9c94-dbfbd134af38.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/7843ed2e-ce5f-4c7b-9c94-dbfbd134af38.vsidx
/.vs/ChovekaBloonzV2.0/DesignTimeBuild/.dtbcache.v2
/.vs/ChovekaBloonzV2.0/FileContentIndex/01a093f8-6d58-441b-b13c-a9e5fbd417e6.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/241a5486-21cb-4c6f-828b-c8012f1d6e83.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/2475e041-52c4-47a1-b6db-ece946500abe.vsidx
*.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/6c92a345-f238-4237-a0b2-199ba9e605fe.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/89b164b8-fde4-4079-bb91-751f447cce09.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/c853611b-bcc7-4ec7-be97-5d67eec3be11.vsidx
/.vs/ChovekaBloonzV2.0/v17/.futdcache.v2
/.vs/ChovekaBloonzV2.0/v17/.suo
/.vs/ProjectEvaluation/chovekabloonzv2.0.metadata.v5.2
/.vs/ProjectEvaluation/chovekabloonzv2.0.projects.v5.2
/.vs/ChovekaBloonzV2.0/FileContentIndex/89b164b8-fde4-4079-bb91-751f447cce09.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/01a093f8-6d58-441b-b13c-a9e5fbd417e6.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/01a093f8-6d58-441b-b13c-a9e5fbd417e6.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/241a5486-21cb-4c6f-828b-c8012f1d6e83.vsidx
/.gitignore
