################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChovekaBloonzV2.0/FileContentIndex/7843ed2e-ce5f-4c7b-9c94-dbfbd134af38.vsidx
/.vs/ChovekaBloonzV2.0/FileContentIndex/7843ed2e-ce5f-4c7b-9c94-dbfbd134af38.vsidx
